# Node
node_modules/
npm-debug.log*
yarn-error.log

# Env
.env
.env.*
Backend/.env
Frontend/.env

# allow example env files
!Backend/.env.example
!Frontend/.env.example

# Vite
Frontend/dist/

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db
